name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Check Code Formatting
      run: npm run format:check

    - name: Lint
      run: npm run lint

    - name: Build
      run: npm run build

    - name: Run Tests with Coverage
      run: npm run test:coverage
